#root{
    position: fixed;
    left: 50%;
    top: 93%;
    width:100%;
    text-align: center;
    z-index: 1;
    transform: translate(-50%, -50%);
}
#alert{
    position: fixed;
    left: 50%;
    top: 50%;
    width:100%;
    text-align: center;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: aqua;
    font-size: 200%;
}
